<!DOCTYPE html>
<!-- saved from url=(0041)http://yujiankang.avosapps.com/apply.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>宇健康会籍介绍</title>
    <link rel="stylesheet" href="/stylesheets/frozen.css">
    <link rel="stylesheet" href="/stylesheets/app.css">


    <script src="/javascripts/av-mini-0.5.7.js"></script>

    <script>
        AV.initialize("355tfbzmh11zoehawt3nmxdkyjbk1uiizbso62oiraaq6rtz", "3nxmy6eugpkpb9tg75txav8h3wlcy7330mj3rws0w5jtm445");
        // 初始化 param1：应用 id、param2：应用 key


    </script>

    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255, 255, 255, .38) solid !important;
        border-radius: 4px !important;
    }

    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }
    </style>
</head>
<body>

<section class="ui-container ui-center">
    <div class="apply-finished-container">
        <img class="header-image" src="/images/check.png" width="300" height="300">

        <h1 class="">提交申请成功</h1>

        <h2>您的<span class="vip-type"></span>已提交成功，请您耐心等待，我们的客服人员会尽快与您联系。</h2>

        <a href="./apply.htm">
            <button class="back-home-btn ui-btn-lg ui-btn-primary ui-whitespace app-button-primary" id="btn1">
                返回首页
            </button>
        </a>
    </div>
    <script src="/javascripts/zepto.min.js"></script>
    <script src="/javascripts/apply.js"></script>

</section>
</body>
</html>