<!DOCTYPE html>
<!-- saved from url=(0041)http://yujiankang.avosapps.com/apply.html -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>宇健康会籍介绍</title>
	<link rel="stylesheet" href="/stylesheets/frozen.css">
	<link rel="stylesheet" href="/stylesheets/app.css">


	<script src="/javascripts/av-mini-0.5.7.js"></script>

	<script>
		AV.initialize("355tfbzmh11zoehawt3nmxdkyjbk1uiizbso62oiraaq6rtz", "3nxmy6eugpkpb9tg75txav8h3wlcy7330mj3rws0w5jtm445");
		// 初始化 param1：应用 id、param2：应用 key


	</script>

	<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
		.en-markup-crop-options {
			top: 18px !important;
			left: 50% !important;
			margin-left: -100px !important;
			width: 200px !important;
			border: 2px rgba(255, 255, 255, .38) solid !important;
			border-radius: 4px !important;
		}

		.en-markup-crop-options div div:first-of-type {
			margin-left: 0px !important;
		}
	</style>
</head>
<body ontouchstart="" class="apply-page">

<footer class="ui-footer ui-footer-btn ui-whitespace">
	<ul class="ui-tiled ui-border-t">

		<button class="ui-btn-lg ui-btn-primary ui-whitespace app-button-primary" id="btn1">
			申请会员
		</button>
	</ul>
</footer>
<section class="ui-container ui-center">
	<img class="header-logo" src="/images/640.png" width="300" height="300">

	<div class="apply-finished-container">
		<img class="header-image" src="/images/exclamation.png"/>

		<h2>您的<span class="vip-type"></span>已提交成功，请您耐心等待，我们的客服人员会尽快与您联系。</h2>

		<a>
			<button class="back-home-btn ui-btn-lg ui-btn-primary ui-whitespace app-button-primary" id="btn1">
				返回首页
			</button>
		</a>
	</div>
	<div class="ui-tab">
		<ul class="ui-tab-nav ui-border-b yjk-auto-lineheight">
			<li class="app-li-current current">
				个人会籍
			</li>
			<li>
				家庭会籍
			</li>
			<li>
				钻石会籍
			</li>
			<li>
				全家福卡
			</li>
		</ul>
		<ul class="ui-tab-content "
			style="width: 400%; transition-property: transform; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 300ms; transform: translate(0px, 0px) translateZ(0px);">
			<li class="current">
				<div class="">

					<div class="ui-list ui-list-pure ui-border-tb">
						<h1>个人会籍(仅限集团客户购买)：<span class="price"> 1988元／年</span></h1>

						<h2 class="sub-title">服务内容：</h2>
						<ul class="list-content">
							<li class="ui-border-t">
								<h4>持卡人尊享疾病预防和健康管理服务，由专家组量身制定专业的预防和健康管理方案；</h4>
							</li>
							<li class="ui-border-t">
								<h4>线上免费的咨询服务（APP、微信公众服务号）；</h4>
							</li>
							<li class="ui-border-t">
								<h4>就医前咨询，给予正确的就医指导；</h4>
							</li>
							<li class="ui-border-t">
								<h4>如年度内没有使用便捷就医及转诊服务，会员资格可顺延到下个年度；</h4>
							</li>
						</ul>
						<h2 class="sub-title">增值服务：</h2>
						<ul class="list-content">
							<li class="ui-border-t">
								<h4>持卡人及直系亲属一年内尊享五次北京所有三甲医院便捷就医服务：包括门诊、检查、住院（限包括直系亲属在内5人）；</h4>
							</li>
						</ul>

					</div>
				</div>
			</li>

			<li>
				<div class="ui-list ui-list-pure ui-border-tb">

					<h1>家庭会籍（限直系亲属五名）：<span class="price"> 5888元／年</span></h1>

					<h2 class="sub-title">服务内容：</h2>
					<ul class="list-content">
						<li class="ui-border-t">
							<h4>一家人尊享疾病预防和健康管理服务，由专家组为每个人量身定做专业的预防和健康管理方案；</h4>
						</li>
						<li class="ui-border-t">
							<h4>一家人尊享YU+健康专家团队提供的咨询服务；</h4>
						</li>
						<li class="ui-border-t">
							<h4>线上免费的咨询服务（APP、微信服务号）；</h4>
						</li>
						<li class="ui-border-t">
							<h4>就医前咨询，给予正确的就医指导；</h4>
						</li>
						<li class="ui-border-t">
							<h4>如年度内没有使用便捷就医及转诊服务，会员资格可顺延到下个年度；</h4>
						</li>
					</ul>
					<h2 class="sub-title">增值服务：</h2>
					<ul class="list-content">
						<li class="ui-border-t">
							<h4>一家人尊享北京所有三甲医院便捷就医服务：包括门诊、检查、住院及专人陪诊服务（每人每年限5次）；</h4>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="ui-list ui-list-pure ui-border-tb">
					<h1>钻石会籍（限直系亲属七名）：<span class="price"> 18888元／年</span></h1>

					<h2 class="sub-title">服务内容：</h2>
					<ul class="list-content">
						<li class="ui-border-t">
							<h4>尊享健康管理服务，由专家组为每个人定制专属的疾病预防和健康管理方案；</h4>
						</li>
						<li class="ui-border-t">
							<h4>持卡人尊享YU+健康专家团队提供的咨询服务；</h4>
						</li>
						<li class="ui-border-t">
							<h4>线上免费的咨询服务（APP、微信服务号）；</h4>
						</li>
						<li class="ui-border-t">
							<h4>就医前咨询，给予正确的就医指导；</h4>
						</li>
						<li class="ui-border-t">
							<h4>会员及直系亲属尊享七次免费的专车接送服务（北京市内包括机场、火车站）；</h4>
						</li>
						<li class="ui-border-t">
							<h4>会员尊享北京免费的酒店住宿三晚（四星或四星以上的标准）；</h4>
						</li>
						<li class="ui-border-t">
							<h4>持卡本人尊享北京协和医院或三零一医院高端体检套餐一次（在专家团指导下）；</h4>
						</li>
						<li class="ui-border-t">
							<h4>如年度内没有使用便捷就医及转诊服务的直系亲属，会员资格可顺延到下个年度；</h4>
						</li>
					</ul>
					<h2 class="sub-title">增值服务：</h2>
					<ul class="list-content">
						<li class="ui-border-t">
							<h4>尊享北京所有三甲医院便捷就医服务：门诊、检查、住院及专人陪诊服务（限直系亲属七名，每人每年限8次）；</h4>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="ui-list ui-list-pure ui-border-tb">
					<h1>全家福卡（限七名直系亲属）：<span class="price"> 5万/年  10万/3年</span></h1>

					<h2 class="sub-title">服务内容：</h2>
					<ul class="list-content">
						<li class="ui-border-t">
							<h4>持卡人及直系亲属七人均可享受公司提供的健康管理服务体系、专家咨询、北京三甲医院便捷就医服务，包括门诊、检查、住院、专人陪诊等服务；</h4>

							<p>(1). 门诊有专人陪同，就诊无须等候 </p>

							<p>(2). 专人陪同预约检查，一个工作日完成（特殊检查除外） </p>

							<p>(3). 住院七个工作日（特殊情况除外），住院期间有专人负责陪同 </p>

						</li>
						<li class="ui-border-t">
							<h4>持卡人及直系亲属尊享公司提供私人医生服务，私人医生团队有二十名各个学科专家组成；</h4>

							<p>(1). 北京区域会员私人医生每月上门巡诊一次 </p>

							<p>(2). 会员可以尊享私人医生团队线下问诊，每年三次（超出次数诊费另计） </p>

							<p>(3). 会员可以预约私人医生团队专家上门问诊，全年三次免费预约（超出次数诊费另计） </p>

						</li>
						<li class="ui-border-t">
							<h4>持卡人及直系亲属健康管理服务；</h4>

							<p>(1). 专家团队为每人制定专属的私人健康管理方案 </p>

							<p>(2). 由专门的健康管家跟踪服务 </p>

							<p>(3). 私人医生团队电话咨询（提前预约通话时间） </p>

						</li>
						<li class="ui-border-t">
							<h4>体检服务；</h4>

							<p>(1). 会员每年尊享一次价值八千元的专项体检 </p>

							<p>(2). 体检前有私人医生团队对会员制定体检方案 </p>

						</li>

					</ul>
				</div>
			</li>
		</ul>
	</div>

</section>

<div class="ui-dialog">
	<div class="ui-dialog-cnt" style="width: auto;">
		<header class="ui-dialog-hd ui-border-b">
			<h3>提交申请</h3>
			<i class="ui-dialog-close" id="closedialogIcon" data-role="button"></i>
		</header>
		<div class="ui-dialog-bd">
			<h5>请输入姓名及手机号并提交申请，客服人员会及时联系您</h5>

			<div class="ui-form-item ui-form-item-l  ui-border-b" style="width: auto;">
				<label style="color: #3783F7;">
					姓名
				</label>
				<input id="nameinput" type="text" placeholder="真实姓名" required>
				<a class="ui-icon-close" id="nameinputclear">
				</a>
			</div>
			<div class="ui-form-item ui-form-item-l ui-border-b" style="width: auto;">
				<label class="ui-border-r" style="color: #3783F7;">
					中国 +86
				</label>
				<input id="phoneinput" type="text" placeholder="请输入手机号码" required>
				<a class="ui-icon-close" id="phoneinputclear">
				</a>
			</div>

			<p class="error-message required name-message">请输入姓名！</p>

			<p class="error-message required phone-message">请输入手机号码！</p>

			<p class="error-message invalid phone-message">请输入正确的手机号码！</p>
		</div>
		<div class="ui-dialog-ft">

			<button id="applybutton" style="color: #3783F7;">提交申请</button>
		</div>
	</div>
</div>

<div id="successnotification" class="ui-poptips ui-poptips-success" style="display: none;">
	<div class="ui-poptips-cnt"><i></i>您已成功提交申请，等待期间您可以返回并使用其他功能。</div>
</div>


<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/frozen.js"></script>
<script>
	var idString = window.location.search;
	var userId = idString.substring(idString.indexOf('?id=') + 4, idString.length);
	var Apply = AV.Object.extend("VipApplication");
	var User = AV.Object.extend("UserInformation");

	(function () {
		var tab = new fz.Scroll('.ui-tab', {
			role: 'tab',
			autoplay: false,
			interval: 3000
		});
		/* 滑动开始前 */
		tab.on('beforeScrollStart', function (fromIndex, toIndex) {
			window.localStorage.setItem("VipType", $($(".ui-tab-nav li")[toIndex]).text().trim())
		})
	})();


	(function () {

		$("#btn1").click(function () {
			$(".ui-dialog").dialog("show");
		});
		$("#applybutton").tap(function () {
			if (!$("#nameinput")[0].value) {
				$(".error-message").hide();
				$(".required.name-message").show();
				return
			}
			if (!$("#phoneinput")[0].value) {
				$(".error-message").hide();
				$(".required.phone-message").show();
				return
			}
			if (!/^1[3|4|5|7|8]\d{9}$/.test($("#phoneinput")[0].value)) {
				$(".error-message").hide();
				$(".invalid.phone-message").show();
				return
			}
			var el = $.loading({
				content: '飞速提交中...'
			});
			$(".ui-dialog").dialog("hide");

			el.on("loading:hide", function () {
				console.log("loading hide");
			});

			var saveUser = function (apply) {
				var query = new AV.Query(User);
				query.equalTo('objectId', userId);
				query.find().then(function (user) {
					var user = user[0];
					user.set('vip', apply);
					user.save(null, {
						success: function (res) {
							el.loading("hide");
							window.location = "/applyDone";
						},
						error: function (error) {
							el.loading("hide");
							console.error(error);
						}
					})
				})
			};


			if (!userId) return;
			var apply = new Apply();
			var level = window.localStorage.VipType.trim();
			apply.set("name", $("#nameinput")[0].value);
			apply.set("phonenumber", $("#phoneinput")[0].value);
			apply.set("level", level ? level : "个人会籍");
			apply.set("applicantId", userId);
			console.log('start saving');
			apply.save(null, {
				success: function (apply) {
					saveUser(apply);
				},
				error: function (apply, error) {
					console.log(error);

				}
			});



		});
		$("#closedialogIcon").click(function () {
//            $(".ui-dialog").dialog("hide");
		});
		$("#phoneinputclear").click(function () {
//            alert($("#phoneinput")[0].value);
			$("#phoneinput")[0].value = "";
		});

		$("#nameinputclear").click(function () {
//            alert($("#phoneinput")[0].value);
			$("#nameinput")[0].value = "";
		});

		/**
		 * 获取用户会员状态
		 */
		var getUserStatus = function (Apply) {
			var level = "个人会籍";

			var query = new AV.Query(Apply);
			query.equalTo('applicantId', userId);
			query.find().then(function (userinformation) {
				level = userinformation[0].attributes.level;
				$(".vip-type").empty().append(level);

				var removeApplied = function (index) {
					$(".ui-tab-nav li")[index].remove();
					$(".ui-tab-content li")[index].remove();
					$('footer').hide();
					$(".header-logo").hide();
					$(".apply-finished-container").show();
				};

				switch (level) {
					case level = "个人会籍":
						removeApplied(0);
						break;
					case level = "家庭会籍":
						removeApplied(1);
						break;
					case level = "钻石会籍":
						removeApplied(2);
						break;
					case level = "全家福卡":
						removeApplied(3);
						break
				}
			}, function (error) {
				console.error(error)
			});
		};
		getUserStatus(Apply);

	})();
</script>

<script src="/javascripts/apply.js"></script>

</body>
</html>